/* Imports */
@import url("https://fonts.googleapis.com/css?family=Courgette:400,700&display=swap");



/* Others */
*{
    cursor: none;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;
}

.cursor {
    z-index: 9999;
    position: fixed;
    width: 0;
    height: 0;
    border: 10px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.2s, height 0.2s;
    mix-blend-mode: difference;
}

body {
    margin: 0px;
}

#double-arrow-down{
    width: 2%;
    position: absolute;
    align-self: bottom;
    z-index: 5;
    transform: translate(50vw, 90vh);
    filter: invert(100%) brightness(45%);
}

.hidden{
    visibility: hidden;
}

/* Background */
.parallax-effect {
    position: static;
    height: 100vh;
    background-image: url("./images/moi-min.JPG");
    min-height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.blurry {
    transition: all 1s ease;
    filter: blur(10px) grayscale(1) brightness(50%);
}
.blurry:hover {
    filter: none;
}



/* myName */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;

    /*Position centrée*/
    top: 10%;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;

    max-width: 97.5%;
    z-index: 2;
    width: 80%;
    height: auto;
    padding: 20px;
    font-family: "Courgette", cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    transition: ease 0.25s background-color;
}


.menu-header{
    display: flex;
    width: 100%;
}

.menu-header h1{
    margin: auto;
}




/* Text under */
.text{
    height: 1000px;
    background-image: linear-gradient(to right top, cyan, darkblue);
    font-size: 36px;
    text-align: center;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.text p {
    margin: 0px;
    padding: 0px;
}



/* Burger menu */
.burger-menu-icon{
    display: inline;
    height: 100%;
    width: 60px;
    padding: 0px;
    margin: 0px;
    margin-left: 1%;
}

.burger-menu-icon span{
    display: block;
    margin: 4px;
    height: 9px;
    width: 60px;
    background: white;
    border-radius: 9px;
    align-self: center;
    transform-origin: 50% 50%;
    transition: ease all 0.5s;
}

#theRealMenuBurger:hover span:nth-child(2){
    opacity: 0%;
}
#theRealMenuBurger:hover span:nth-child(1){
    transform: rotate(405deg) translate(-13%, 350%);
}
#theRealMenuBurger:hover span:nth-child(3){
    transform: rotate(-405deg) translate(23%, 0%);
}

.menu-item{
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    font-size: 200%;
    transition: 0.2s all ease;
}

.menu-item:hover{
    filter:brightness(100%);
    background-blend-mode: difference;
}



/* TypeWritter */
#typeWritting{
    color: black;
    font-weight: bold;
    font-family: "Courgette", cursive;
    font-size: 500%;

    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 1;
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#feature-text{
    margin-left: 25px;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 60px;
    background-color: white;
    margin-left: 10px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}



/* Skillboxes */
.skillbox{
    box-sizing: border-box;
    width: 50%;
    margin: 0px;
    transition: all 1s ease-out;
}

.skillbox p{
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.skillbox p:nth-child(2){
    float: right;
    position: relative;
    top: -25px;
}

.skill{
    background: #282828;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #0fffb7;
    border-radius: 2px;
}

.skill_level{
    background: #0fffb7;
    width: 100%;
    height: 10px;
}

/* Dino game */
#dinoGameContainer{
    width: 100%;
    background-color: black;
    color: white;
}