/* Imports */
@import url("https://fonts.googleapis.com/css?family=Courgette:400,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');



/* Others */
*{
    cursor: none;
    margin: 0px;
    overflow-x: initial;
}

::-webkit-scrollbar {
    width: 0px;
}

.cursor {
    z-index: 9999;
    position: fixed;
    width: 0;
    height: 0;
    border: 10px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.2s, height 0.2s;
    mix-blend-mode: difference;
}

body {
    margin: 0px;
}

#double-arrow-down{
    width: 2%;
    position: absolute;
    align-self: bottom;
    z-index: 5;
    transform: translate(50vw, 90vh);
    filter: invert(100%) brightness(45%);
}

.hidden{
    visibility: hidden;
}

/* Background */
.parallax-effect {
    position: static;
    height: 100vh;
    background-image: url("./images/moi-min.JPG");
    min-height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.blurry {
    transition: all 1s ease;
    filter: blur(10px) grayscale(1) brightness(50%);
}
.blurry:hover {
    filter: none;
}



/* myName */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;

    /*Centered position*/
    top: 10%;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;

    max-width: calc(100% - 46px);
    z-index: 2;
    width: 80%;
    height: auto;
    padding: 20px;
    font-family: "Courgette", cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-transition: height 2s;
    transition: height 2s;
    transition: ease 0.25s background-color;
}

/* Menu */
.bg-text-menu{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;

    /*Position centrée*/
    top: 10%;
    left: 0%;
    right: 0%;
    margin-left: 0px;
    margin-right: 0px;

    z-index: 2;
    width: calc(100% - 46px);
    height: auto;
    padding: 20px;
    font-family: "Courgette", cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-transition: height 2s;
    transition: height 2s;
    transition: ease 0.25s background-color;
}


.menu-header{
    display: flex;
    width: 100%;
}

.menu-header h1{
    margin: auto;
    font-size: 2vw;
}

.menu-header h1 a{
    text-decoration: none;
    color: white;
}

/* Burger menu */
.burger-menu-icon{
    display: inline;
    height: 100%;
    width: 60px;
    padding: 0px;
    margin: 0px;
    margin-left: 1%;
}

.burger-menu-icon span{
    display: block;
    margin: 4px;
    height: 9px;
    width: 60px;
    background: white;
    border-radius: 9px;
    align-self: center;
    transform-origin: 50% 50%;
    transition: ease all 0.5s;
}

.toArrowDown span:nth-child(1){
    transform: translate(-31%, 130%) rotate(405deg);
}
.toArrowDown span:nth-child(2){
    opacity: 0%;
}
.toArrowDown span:nth-child(3){
    transform: translate(31%, -150%) rotate(-405deg);
}

.toCross span:nth-child(1){
    transform: translate(1%, 135%) rotate(405deg);
}
.toCross span:nth-child(2){
    opacity: 0%;
}
.toCross span:nth-child(3){
    transform: translate(-1%, -145%) rotate(-405deg);
}

.menu-item{
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    font-size: 2vw;
    transition: 0.2s all ease;
}


@media only screen and (max-device-width: 1023px) {
    .menu-header{
        font-size: 4vw;
    }
    .menu-item{
        font-size: 4vw;
    }
    .menu-header h1{
        margin: auto;
        font-size: 4vw;
    }
}

@media only screen and (max-device-width: 426px) {
    .menu-header{
        font-size: 4.5vw;
    }
    .menu-item{
        font-size: 4.5vw;
    }
    .menu-header h1{
        margin: auto;
        font-size: 4.5vw;
    }
}

.menu-item a{
    text-decoration: none;
    color: white;
}

.menu-item:hover{
    filter:brightness(100%);
    background-blend-mode: difference;
}


.menuDiv{
    margin-top: 0.5%;
    font-family: Calibri;
}

.bg-text-menu .menuDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 1s;
}

.anchor{
    position: absolute;
    visibility: hidden;
    width: 100%;
    margin: 0px;
}


/* TypeWritter */
#typeWritting{
    color: black;
    font-weight: bold;
    font-family: "Courgette", cursive;
    font-size: 6.5vw;
    width: 80%;

    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 1;
}

.typing-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

#feature-text{
    margin-left: 2.5vw;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: white;
    margin-left: 10px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

















/* Parts */

.allParts{
    background: radial-gradient(ellipse at top, #1B2735 0%, #090A0F 100%);
    position: relative;
    overflow: hidden;
}

@keyframes animBubble{
    0% {top: 100%;}
    100% {top: 0%;}
}

.bubble{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: radial-gradient(transparent, transparent, rgba(255,255,255,0.1), white);
    position: absolute;
}

#bubble1{
    transform: scale(2);
    animation: animBubble 15s linear infinite;
    /* border: 1px rgba(255, 255, 255, 0.50) solid; */
}

#bubble2{
    transform: scale(4);
    animation: animBubble 20s linear infinite;
    /* border: 2px rgba(255, 255, 255, 0.50) solid; */
}

#bubble3{
     transform: scale(8);
    animation: animBubble 30s linear infinite;
    /* border: 3px rgba(255, 255, 255, 0.50) solid; */
}

.part{
    height: auto;
    font-size: 36px;
    text-align: center;
    align-items: center;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    position: relative;
    color: white;
    padding-bottom: 100px;
    padding-top: 10px;
}

.part p {
    width: 80%;
    margin: auto;
}

.part h1, .part p{
    font-family: Lato, sans-serif;
}

.part h1{
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* About me part*/



/* Education */
.education{
    width: 95%;
    height: 47vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.education .educationContainer{
    width: 50%;
    position: relative;
    transition: width 0.75s ease;
}

.education .educationContainer .year{
    width: auto;
    z-index: 1;
    position: absolute;
    color: black;
    /* centered */
    transform-origin: 50% 50%;
    left: 50%;
    transform: translateX(-50%);
}

.education .educationContainer:hover .year{
    color: white;
    mix-blend-mode: difference;
}

.education .educationContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 1s;
}

.education .educationContainer:hover img{
    filter: blur(5px) brightness(40%);
}
.education .educationContainer:hover{
    width: 100%;
}

.education .educationDescription{
    position: absolute;
    z-index: 1;
    transition: all 1s ease;
    opacity: 0%;
    width: 90%;
    /* centered */
    transform-origin: 50% 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.education .educationContainer:hover .educationDescription{
    opacity: 100%;
}

.educationDescription p{
    font-size: medium;
}

/* Skill Part */
.categoryContainer p{
    margin-bottom: 10px;
}

#SkillsContainer{
    display: flex;
    flex-direction: row;
    font-family: "Font Awesome";
    display: flex;
    flex-wrap: wrap;
}
.round {
    width: auto;
    min-height: 255px;
    margin: 30px;
    position: relative;
    margin-bottom: 20px;
    margin: auto;
}

.round strong {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    transform: translate(-50%);
    font-size: 5vwpx;
    color: white;
    font-weight: 100;
}
.round span {
    display: block;
    color: #999;
    font-size: 16px;
    margin-top: 10px;
}

.round span i {
    color: #ff5c5c;
    font-size: 22px;
    margin-right: 6px;
}


/* Projects part */
.projectsContainer{
    margin-top: 1%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projectBubble{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    background: radial-gradient(transparent, transparent, rgba(255,255,255,0.1), white);
    overflow: hidden;
    align-items: center;
    transition: all 1s ease;
    position: relative;
}

.projectBubble:hover{
    width: 200px;
    height: 200px;
}

.projectBubble img{
    height: 100%;
    width: auto;
    opacity: 50%;
    transition: 1s ease all;
}

.projectBubble:hover img{
    filter: brightness(25%);
}

.projectFullscreen{
    z-index: 1;
    transition: 1s ease all;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0px;
    background-color: rgba(0,0,0, 0.8);
}

.projectBubble h6{
    opacity: 0%;
    position: absolute;
    /* centered */
    transform-origin: 50% 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1s all ease;
}

.projectBubble:hover h6{
    opacity: 100%;
}

.projectsContainer h3{
    opacity: 0%;
    transition: 1s ease all;
}

.projectFullscreen h3{
    position: absolute;
    opacity: 100%;
    /* centered */
    transform-origin: 50% 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Contact part */
.socialMedia a i{
    color: #ff5c5c;
    text-decoration: none;
}

.socialMedia a i:hover{
    color: #9b0000;
}


/* Dino game */
#dinoGameContainer{
    width: 100%;
    background-color: black;
    color: white;
}